[
        {"day": 1, "start": "1000", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 1, "start": "1400", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 2, "start": "1000", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 2, "start": "1000", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 3, "start": "1000", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 3, "start": "1400", "stop": "", "record": "", "file": "/home/user/Videos/30 Greatest Hymns with Lyrics.mp4"},
        {"day": 4, "start": "1400", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 5, "start": "0830", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 5, "start": "1300", "stop": "1400", "record": "", "file": "rtsp://192.168.60.205:554/1"},
        {"day": 5, "start": "1400", "stop": "1500", "record": "True", "file": "rtsp://192.168.60.205:554/1"},
        {"day": 5, "start": "1500", "stop": "1600", "record": "", "file": "rtsp://192.168.60.205:554/1"},
        {"day": 6, "start": "1000", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 6, "start": "1400", "stop": "", "record": "", "file": "/home/user/Videos/"},
        {"day": 7, "start": "0900", "stop": "", "record": "", "file": "/home/user/Videos/church_karaoke.mp4"},
        {"day": 7, "start": "1800", "stop": "", "record": "", "file": "/home/user/Videos/"}

        
]
